name: AppVelox CI

# This workflow runs on every push to main and master and every pull request
on:
  push:
    branches: [ "main",  "master"]
  pull_request:
    branches: [ "main" , "master"]

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout the code
      - uses: actions/checkout@v4

      # 2. Set up Java (Required for Android Build)
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      # 3. Set up Flutter
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      # 4. Install Dependencies
      - name: Install Dependencies
        run: flutter pub get

      # 5. Run Code Generator (Freezed/Injectable)
      - name: Run Build Runner
        run: dart run build_runner build --delete-conflicting-outputs

      # 6. Check Formatting
      - name: Verify Formatting
        run: dart format --output=none --set-exit-if-changed .

      # 7. Analyze Code (Linting)
      - name: Analyze
        run: flutter analyze

      # 8. Run Tests
      - name: Run Tests
        run: flutter test

      # 9. Build Android APK (Proof of Compilation)
      # We build release to ensure R8 shrinking works
      - name: Build Android Release APK
        run: flutter build apk --release --no-tree-shake-icons

      # 10. Upload APK (Optional - lets you download the artifact from GitHub)
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk